html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    overflow: hidden;
    background-color: #000000;
}

iframe {
	border: 0;
}

#idle {
    position: fixed;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    z-index: 100;
    background: url('../img/aurora.jpg');
    background-size: cover;
    -webkit-filter: blur(5px);
}
#idle_top {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 101;
    color: #ffffff;
    font-size: 3em;
    font-family: sans-serif;
    padding: 40px;
}

#idle div {
    -webkit-filter: blur(0px);
}